*-exclude.pdf
*-exclude
*-exclude.webm
*-exclude.mp4
*-exclude.zip
.849C9593-D756-4E56-8D6E-42412F2A707B
*.MOV

Physics\Assessments\Experimental Demo\Video

**/.obsidian
# Add exceptions with an exclamation point, like: 
#   !not-a-textbook -exclude.pdf

# To add exceptions based on size:
# find . -size +100M | cat >> .gitignore
# Finds all files that are 100MB or greater and writes it to .gitignore

Archive/SLE111 - Cells and Genes/Assignments/Blast'n/Bioinformatics - HOW TO -exclude.mp4
Archive/SLE111 - Cells and Genes/Practicals/Practical 3 - Authentic Assessment/Catalase experiment example.mp4
Archive/SLE111 - Cells and Genes/Weeks/Week 8 - Modes of Inheritance & Linked Genes/Alternations of Generations [l-FWwaTFvsw] -exclude.webm
Archive/SLE133 - Chemistry in Our World/Attachments/Electron Configuration - Quick Review! [hEhUNikSC90].webm
Archive/SLE133 - Chemistry in Our World/Chemistry Core Concepts - Allan Blackman, Daniel Southam, -exclude.pdf
Campbell Biology_ Australian an - Lisa A Urry -exclude.pdf
Chemistry Core Concepts - Allan Blackman, Daniel Southam, -exclude.pdf
Maths/Archive/SIT191 - Stats/Assessments/Problem Solving Task 3/Problem Solving Task 3 - finished_20240124_0001 - Copy -exclude.pdf
Maths/Concepts/Equations/Quadratics/Completing_the_Square -exclude.mp4
Maths/Concepts/Equations/Quadratics/Quadratic_Formula -exclude.mp4
Maths/Extra resources/Methods34_2ed_Ch11.pdf
Physics/College Physics 2e by OpenStax -exclude.pdf
SLE132 - Biology/Campbell Biology_ Australian an - Lisa A Urry -exclude.pdf
SLE132 - Biology/SLE111 - Cells and Genes/Assignments/Blast'n/Bioinformatics - HOW TO -exclude.mp4
SLE132 - Biology/SLE111 - Cells and Genes/Practicals/Practical 3 - Authentic Assessment/Catalase experiment example.mp4
SLE132 - Biology/SLE111 - Cells and Genes/Weeks/Week 8 - Modes of Inheritance & Linked Genes/Alternations of Generations [l-FWwaTFvsw].webm
SLE132 - Biology/SLE132 - Form & Function/Campbell Biology_ Australian an - Lisa A Urry -exclude -exclude.pdf
SLE132 - Biology/SLE132 - Form & Function/SLE132 - Practicals/Practical 1/SLE132_Prac_1_-_Echinodermata -exclude.mp4
SLE132 - Biology/SLE132 - Form & Function/SLE132 - Practicals/Practical 1/SLE132_Prac_1_-_Mollusca_Key_Features -exclude.mp4
SLE132 - Biology/SLE132 - Form & Function/SLE132 - Practicals/Practical 4/Campbell Biology_ Australian an - Lisa A Urry -exclude -exclude.pdf
SLE132 - Biology/SLE132 - Form & Function/SLE132 - Practicals/Practical 4/Prac instructions/Leaf cross section video -exclude.mp4
SLE155 - Chemistry/Chemistry Core Concepts - Allan Blackman, Daniel Southam, -exclude.pdf
SLE155 - Chemistry/SLE133 - Chemistry in Our World/Attachments/Electron Configuration - Quick Review! [hEhUNikSC90].webm
SLE155 - Chemistry/SLE133 - Chemistry in Our World/Chemistry Core Concepts - Allan Blackman, Daniel Southam, -exclude.pdf
SLE155 - Chemistry/SLE155 - Chemistry for the Professional Sciences/Chemistry Core Concepts - Allan Blackman, Daniel Southam, -exclude.pdf
SLE155 - Chemistry/SLE155 - Chemistry for the Professional Sciences/Practicals/Practical 5/GMT20230117-215819_Recording_1920x1020 -exclude.mp4
